extends layout

block content
    #app
        nav
            ul: li(v-for="e of entries", :class="{ active: e === current }"): a(href="#", @click.prevent="setCurrent(e)") {{e.day}}
            .nav-bottom
                button.button.is-link.is-fullwidth(@click="save", :disabled="isSaving")
                    include ../public/img/upload.svg
                    span {{isSaving ? 'Saving...' : 'Save' }}

        main
            form
                textarea(:value="current.value", @input="update")


block scripts
    script(src="/js/index.js")
