body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#top {
    padding: 0.5em 1em;
    width: 100%;
    background-color: #333339;
    color: white;
}

#bottom {
    height: 2.5em;
    width: 100%;
    background-color: #333339;
    color: white;
}

#main-content {
    display: flex;
    flex: 1;
}

#app {
    width: 100%;
    display: flex;
}

#app>nav {
    background-color: #2E3234;
    color: white;
    flex: 0 0 15em;
}

#app>main {
    flex: 1;
}

#app>main>form {
    height: 100%;
    width: 100%;
}

#app>main>form>textarea {
    height: 100%;
    width: 100%;
    resize: none;
    border: none;
    background-color: #EEE;
    padding: 1em;
}

nav ul {
    margin-top: 1em;
}

nav ul>li {
    padding: 0.2em 1em;
}

nav ul>li.active {
    background-color: #EEE;
    color: #4a4a4a;
}

nav ul>li a {
    color: #EEE;
}

nav ul>li a:hover {
    color: #CCC;
}

nav ul>li.active a {
    color: #4a4a4a;
}

.nav-bottom {
    position: absolute;
    bottom: 3.5em;
    padding-left: 1em;
    width: 14em;
}

.nav-bottom button>svg { height: 1.2em; width: 1.2em; fill:white; margin-right: 0.3em; }